* {
    box-sizing: border-box;
}

nav {
    background-color: blue;
    height: 50px;
    display: flex;
    gap: 25em;
    padding: 0px 30px;
}

nav a {
   font-size: 19px;
   color: white;
   text-decoration: none;
   position: relative;
   top: 10px;
   margin-left: 30px;
   padding-left: 30px;
}

header {
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

#all_media {
    width: 350px;
    height: 250px;
}

audio {
    width: 100%;
}

footer {
    background-color: blue;
}

footer p {
    color: white;
    text-align: center;
}